html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    color: black;
    margin: 0px auto;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    color: black;
    font-size: 20px;
}

.country {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    color: black;
    font-size: 20px;
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
}