.intro {
    color: var(--darker);
    font-size: 18px;
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-l {
    float: left;
}

.float-c {
    float: center;
}

.float-r {
    float: right;
}